monitoramento
{
  "name": "Daily Supabase and Streamlit Status Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cbc2bd0b-6b29-4ae2-bdb0-f761614a6a12",
      "name": "Trigger Diário 09h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [1184, 1520]
    },
    {
      "parameters": {
        "url": "https://SEU_PROJETO_ID.supabase.co",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "1aaf260e-80bd-4125-a8c8-d2ebb3257663",
      "name": "Verificar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1408, 1392]
    },
    {
      "parameters": {
        "url": "https://SEU_APP.streamlit.app/_stcore/health",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "658c262e-0e3a-4af8-93db-ad64fa4622e3",
      "name": "Verificar Streamlit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1408, 1632]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-sup-1",
              "name": "service",
              "value": "Supabase",
              "type": "string"
            },
            {
              "id": "id-sup-2",
              "name": "statusCode",
              "value": "={{ $json.statusCode ?? 200 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b3396bdc-97ed-4864-bfb8-b817846bf228",
      "name": "Tag Supabase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1632, 1392]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-stl-1",
              "name": "service",
              "value": "Streamlit",
              "type": "string"
            },
            {
              "id": "id-stl-2",
              "name": "statusCode",
              "value": "={{ $json.statusCode ?? 200 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "96823664-7cbd-4cbc-8e00-88f723c1100e",
      "name": "Tag Streamlit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1632, 1632]
    },
    {
      "parameters": {},
      "id": "4ae6e7fd-5983-4d12-a7d3-3b6899240048",
      "name": "Aguardar os Dois",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1888, 1520]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nconst linhas = items.map(item => {\n  const { service, statusCode } = item.json;\n  const online = statusCode >= 200 && statusCode < 400;\n  const emoji = online ? 'Online ✅' : `Offline ❌ (${statusCode})`;\n  return `*${service}*: ${emoji}`;\n});\n\nconst message = `📡 *Status dos Serviços - ${now}*\\n\\n${linhas.join('\\n\\n')}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "907a84b2-219c-4a94-924c-4899709b8d0d",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2112, 1520]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "SEU_DISCORD_SERVER_ID",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "SEU_DISCORD_CHANNEL_ID",
          "mode": "id"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "8bf7ea53-3001-4db0-9cfc-24bae3d69330",
      "name": "Enviar Notificação Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [2336, 1520],
      "credentials": {
        "discordBotApi": {
          "id": "SEU_CREDENTIAL_ID",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Diário 09h": {
      "main": [
        [
          {
            "node": "Verificar Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Streamlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Supabase": {
      "main": [
        [
          {
            "node": "Tag Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Streamlit": {
      "main": [
        [
          {
            "node": "Tag Streamlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Supabase": {
      "main": [
        [
          {
            "node": "Aguardar os Dois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Streamlit": {
      "main": [
        [
          {
            "node": "Aguardar os Dois",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aguardar os Dois": {
      "main": [
        [
          {
            "node": "Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar Notificação Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}
